In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("Resources/kindle_reviews.csv")

In [3]:
dropcol = df.columns

In [4]:
df.drop(dropcol[0],inplace=True,axis=1)

In [5]:
df=df[["overall","reviewText"]]

In [6]:
df

        overall                                         reviewText
0             5  I enjoy vintage books and movies so I enjoyed ...
1             4  This book is a reissue of an old one; the auth...
2             4  This was a fairly interesting read.  It had ol...
3             5  I'd never read any of the Amy Brewster mysteri...
4             4  If you like period pieces - clothing, lingo, y...
...         ...                                                ...
982614        5  Yasss hunny! This is a great read. That Dre is...
982615        5  I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...
982616        5  Great book! Cherika was a fool. She let that m...
982617        5  When I say this was an excellent book please b...
982618        5  This book was everything. I just hope Alexus w...

[982619 rows x 2 columns]

In [7]:
df = df.rename(columns=
    {
        "overall":"rating",
        "reviewText":"message"
    }
)

In [8]:
X,y = df["message"],df["rating"]

TrainTestSplit

-- Categories:<br>
Any review rated < 3 --> negative<br>
Any review rated > 3 --> positive

In [9]:
df["rating"]=df["rating"].apply(lambda x:0 if x<3 else 1)

In [10]:
df["rating"].value_counts()

rating
1    925471
0     57148
Name: count, dtype: int64

In [11]:
# Lowercasing the words
df["message"]=df["message"].apply(lambda x: str(x).lower())

In [12]:
df.head()

   rating                                            message
0       1  i enjoy vintage books and movies so i enjoyed ...
1       1  this book is a reissue of an old one; the auth...
2       1  this was a fairly interesting read.  it had ol...
3       1  i'd never read any of the amy brewster mysteri...
4       1  if you like period pieces - clothing, lingo, y...

In [13]:
## Removing Special Characters
df["message"]=df["message"].apply(lambda x: re.sub("[^a-zA-Z0-9]+"," ",x))

In [14]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to c:\Users\HP\OneDrive\Docu
[nltk_data]     ments\Kindle_Sentiment_Analysis\kindle\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords

df["message"].apply(lambda sentence:" ".join([word for word in sentence.split() if word not in set(stopwords.words("english"))]))