In [15]:
import pandas as pd
import re

In [24]:
df = pd.read_csv("Resources/kindle_reviews.csv")

In [25]:
dropcol = df.columns

In [26]:
df.drop(dropcol[0],inplace=True,axis=1)

In [27]:
df=df[["overall","reviewText"]]

In [28]:
df

        overall                                         reviewText
0             5  I enjoy vintage books and movies so I enjoyed ...
1             4  This book is a reissue of an old one; the auth...
2             4  This was a fairly interesting read.  It had ol...
3             5  I'd never read any of the Amy Brewster mysteri...
4             4  If you like period pieces - clothing, lingo, y...
...         ...                                                ...
982614        5  Yasss hunny! This is a great read. That Dre is...
982615        5  I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...
982616        5  Great book! Cherika was a fool. She let that m...
982617        5  When I say this was an excellent book please b...
982618        5  This book was everything. I just hope Alexus w...

[982619 rows x 2 columns]

In [ ]:
df=df[["overall","reviewText"]]

df = df.rename(columns=
    {
        "overall":"rating",
        "reviewText":"message"
    }
)

TrainTestSplit

-- Categories:<br>
Any review rated < 3 --> negative<br>
Any review rated > 3 --> positive

In [ ]:
df=df[["overall","reviewText"]]

df = df.rename(columns=
    {
        "overall":"rating",
        "reviewText":"message"
    }
)

df["rating"]=df["rating"].apply(lambda x:0 if x<3 else 1)

KeyError: "None of [Index(['overall', 'reviewText'], dtype='object')] are in the [columns]"

In [ ]:
df["rating"].value_counts()

rating
1    925471
0     57148
Name: count, dtype: int64

In [ ]:
# Lowercasing the words
df["message"]=df["message"].apply(lambda x: str(x).lower())

In [ ]:
df.head()

   rating                                            message
0       1  i enjoy vintage books and movies so i enjoyed ...
1       1  this book is a reissue of an old one; the auth...
2       1  this was a fairly interesting read.  it had ol...
3       1  i'd never read any of the amy brewster mysteri...
4       1  if you like period pieces - clothing, lingo, y...

In [29]:
# Remove special characters
from nltk.corpus import stopwords
stop_words = set(stopwords.words("english"))
from bs4 import BeautifulSoup

#df=df[["overall","reviewText"]]

df = df.rename(columns=
    {
        "overall":"rating",
        "reviewText":"message"
    }
)

df["rating"]=df["rating"].apply(lambda x:0 if x<3 else 1)

# Lowercasing the words
df["message"]=df["message"].apply(lambda x: str(x).lower())


df["message"] =df["message"].apply(lambda sentence: " ".join(filter(lambda word: word not in stop_words, sentence.split())))

#Remove url

df["message"] = df["message"].apply(lambda x: re.sub(r"(http|https|ftp|ssh)://[\w_-]+(?:\.[\w_-]+)+[\w.,@?^=%&:/~+#-]*", "", x))

# Remove any HTML keywords or tags
df["message"] = df["message"].map(lambda x: BeautifulSoup(x, "html.parser").get_text())

# Remove any additional whitespaces
df["message"]=df["message"].apply(lambda x: " ".join(x.split()))

C:\Users\HP\AppData\Local\Temp\ipykernel_15520\285228860.py:28: MarkupResemblesLocatorWarning: The input passed in on this line looks more like a filename than HTML or XML.

If you meant to use Beautiful Soup to parse the contents of a file on disk, then something has gone wrong. You should open the file first, using code like this:

    filehandle = open(your filename)

You can then feed the open filehandle into Beautiful Soup instead of using the filename.

However, if you want to parse some data that happens to look like a filename, then nothing has gone wrong: you are using Beautiful Soup correctly, and this warning is spurious and can be filtered. To make this warning go away, run this code before calling the BeautifulSoup constructor:

    from bs4 import MarkupResemblesLocatorWarning
    import warnings

    warnings.filterwarnings("ignore", category=MarkupResemblesLocatorWarning)

  df["message"] = df["message"].map(lambda x: BeautifulSoup(x, "html.parser").get_text())

Lemmatization

In [30]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [33]:
df

        rating                                            message
0            1  enjoy vintage books movies enjoyed reading boo...
1            1  book reissue old one; author born 1910. era of...
2            1  fairly interesting read. old- style terminolog...
3            1  never read amy brewster mysteries one.. really...
4            1  like period pieces - clothing, lingo, enjoy my...
...        ...                                                ...
982614       1  yasss hunny! great read. dre mess, cherika ref...
982615       1  enjoyed book beginning end far lex hoe sneaky ...
982616       1  great book! cherika fool. let man get away muc...
982617       1  say excellent book please believe definitely p...
982618       1  book everything. hope alexus wise move on. law...

[982619 rows x 2 columns]

In [31]:
def lemmatize_word(text):
   return " ".join([lemmatizer.lemmatize(word) for word in text.split() if word not in stop_words])

In [32]:
df["message"].apply(lambda x: lemmatize_word(x))

0         enjoy vintage book movie enjoyed reading book....
1         book reissue old one; author born 1910. era of...
2         fairly interesting read. old- style terminolog...
3         never read amy brewster mystery one.. really h...
4         like period piece - clothing, lingo, enjoy mys...
                                ...
982614    yasss hunny! great read. dre mess, cherika ref...
982615    enjoyed book beginning end far lex hoe sneaky ...
982616    great book! cherika fool. let man get away muc...
982617    say excellent book please believe definitely p...
982618    book everything. hope alexus wise move on. law...
Name: message, Length: 982619, dtype: object

In [34]:
df

        rating                                            message
0            1  enjoy vintage books movies enjoyed reading boo...
1            1  book reissue old one; author born 1910. era of...
2            1  fairly interesting read. old- style terminolog...
3            1  never read amy brewster mysteries one.. really...
4            1  like period pieces - clothing, lingo, enjoy my...
...        ...                                                ...
982614       1  yasss hunny! great read. dre mess, cherika ref...
982615       1  enjoyed book beginning end far lex hoe sneaky ...
982616       1  great book! cherika fool. let man get away muc...
982617       1  say excellent book please believe definitely p...
982618       1  book everything. hope alexus wise move on. law...

[982619 rows x 2 columns]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982619 entries, 0 to 982618
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   rating   982619 non-null  int64
 1   message  982619 non-null  object
dtypes: int64(1), object(1)
memory usage: 15.0+ MB

In [38]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df["message"],df["rating"],test_size=0.3,random_state=42)

In [39]:
X_train

967979    book gets back basics natural remedies parents...
674481    loved romance tom cooper age gap didnâ€™t seem m...
786555    suffered panic anxiety attacks last ten years ...
334017    dunnoi expect bit fun story found silly, much ...
511689    short story good start. gotta love naunie baby...
                                ...
259178    renowned cartoonist brian platt uses creative ...
365838    delightful australian coastal romance splash s...
131932    again, wondering read another book. book terri...
671155    ian gabby loved story!!! ian hot sexy gabby br...
121958    fascinating antarctic setting good romance. em...
Name: message, Length: 687833, dtype: object

Applying Word2Vec or BOW

In [45]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(ngram_range=(1,2))
X_train_bow = bow.fit_transform(X_train).toarray()[:10000]
X_test_bow = bow.transform(X_test).toarray()[:10000]

MemoryError: Unable to allocate 53.1 TiB for an array with shape (687833, 10607968) and data type int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(ngram_range=(1,2))
X_train_tfidf = tfidf.fit_transform(X_train).toarray()
X_test_tfidf = tfidf.transform(X_test).toarray()

In [ ]:
from sklearn.

In [44]:
df.shape

(982619, 2)